html, body { height: 100%; }
body {
  background: linear-gradient(to bottom, rgba(255,199,118,1) 0%,rgba(255,125,67,1) 100%);
  overflow: hidden;
}

.bg-group {
  z-index: 1;
  left: 0;
  right: 0;
  top: 50vh;
  position: relative;
}

.ocean {
  height: 5%;
  width:100%;
  position:absolute;
  //bottom:0;
  left:0;
  top: 20vh;
  background: #015871;
}

.wave {
  background: url(../images/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 3400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

.wave:nth-of-type(3) {
  top: -175px;
  animation: wave 7.5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7.5s ease -1.25s infinite;
  opacity: 0.6;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.container {
  position: relative;
  top:40px;
  background-color: #ff753c;
  height: 90vh;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  margin: auto;
  box-shadow: 0px 10px 39px -9px rgba(0,0,0,0.48);
}

.wave-bg {
  background: linear-gradient(to bottom, #ffcf7e 20%,#fe814d 65%);
  height: 80vh;
  left: 0;
  right: 0;
  position: absolute;
  top: 10vh;
}

.timer {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 10em;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: 0;
  top: 20%;
  z-index: 2;
  text-shadow: 0px 2px 11px rgba(0, 0, 0, 0.4);
}



.lower-controls {
  position: absolute;
  bottom: 100px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 21px 30px;


  border-radius: 50%;
  transition: 0.5s;

  &:hover {
    border: none;
    background-color: white;

    i {
      color: #fe814d;
    }
  }

  i {
    transition: 0.5s;
  }
}

.play {
  font-size: 3em;
  i {
    transform: translateX(5px);
  }
}